<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список дистрибьюторов</title>
    {% load static %}
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fe4522470.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url({% static 'autoxl/grid.png' %});">

    <!-- FORMS -->

    <form action="/change_distributor/" method="post" id="change_form">

        {% csrf_token %}

    </form>

    <form action="/delete_distributor/" method="post" id="delete_form">

        {% csrf_token %}

    </form>

    <!--  -->

    <div class="wrap flex-center-column">

        <div class="mb-30 f-size-20 text-center" style="color: #517793;">

            <span>Для поиска дистрибьютора/получателя/номера телефона нажмите сочетание клавишь Ctr + F</span>

            <br>

            <span>В строке поиска введите нужную информацию</span>

        </div>

        <div class="w-90 mb-10">

            <a class="link-back" href="/welcome/"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Выход</a>

        </div>

            <table>

                <thead>

                    <tr>

                        <td>№</td>

                        <td>Название дистрибьютора</td>

                        <td>Внешний ID</td>

                        <td>Регион</td>

                        <td>Имя получателя</td>

                        <td>Фамилия получателя</td>

                        <td>Отчество получателя</td>

                        <td>Адрес отправки карты</td>

                        <td>Телефонный номер</td>

                        <td>Редактировать</td>

                        <td>Удалить</td>

                    </tr>

                </thead>

                <tbody>

                    {% for distributor in distributors %}

                        <tr>

                            <td>{{ forloop.revcounter }}</td>

                            <td>{{ distributor.name }}</td>

                            <td>{{ distributor.external_id }}</td>

                            <td>{{ distributor.region }}</td>

                            <td>{{ distributor.recipient_first_name }}</td>

                            <td>{{ distributor.recipient_last_name }}</td>

                            <td>{{ distributor.recipient_patronymic }}</td>

                            <td>{{ distributor.shipping_address }}</td>

                            <td>{{ distributor.telephone_number }}</td>

                            <td><button value="{{ distributor.pk }}" name="id_editable_distributor" class="button-change" form="change_form" title="Изменить"><i class="fas fa-edit"></i></button></td>

                            <td><button value="{{ distributor.pk }}" name="id_delete_distributor" class="button-delete" form="delete_form" title="Удалить"><i class="fas fa-trash"></i></button></td>

                        </tr>

                    {% endfor %}
        
                </tbody>

            </table>

    </div>

</body>
</html>