<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система автоматизации</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap" rel="stylesheet">
</head>
<body class="flex-center-column" style="background-image: url(static/grid.png);">

    <div class="wrap flex-center-column">

        <img src="/static/logo.png">

        <span class="text">автоматизации отчетности</span>

        <form action="/go/" method="post" id="file-form">

            {% csrf_token %}

            <div class="container flex-center-column">

                <input type="file" name="file" id="file-4" class="inputfile inputfile-3" required>
                
                <label for="file-4"><span>Загрузить файл&hellip;</span></label>

                <label>Введите значение для вычислений</label>

                <input class="inputnumber" type="number" min="1" name="number" placeholder="Введите значение" required autofocus>

            </div>

        </form>

    </div>

    <div class="flex-center-column">

        <button class="button" type="submit" form="file-form">Отправить</button>

    </div>

    <script src="static/custom-file-input.js"></script>

</body>
</html>