<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система автоматизации</title>
    {% load static %}
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap" rel="stylesheet">
</head>
<body class="flex-center-column" style="background-image: url({% static 'autoxl/grid.png' %});">

    <div class="wrap flex-center-column">

        <img src="/static/logo.png" width="230">

        <span class="text">автоматизация отчетности</span>

        <form action="/go/" method="post" id="file-form" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="container flex-center-column">

                <!-- ФОРМАТ ОТЧЕТА SELECTBOX -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Формат отчета:</span>

                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="">

                            <option value="">Отчет кабинета 007</option>
                            <option value="">Отчет с менеджерами</option>
                            <option value="">Отчет без менеджеров</option>

                        </select>

                    </div>

                </div>

                <!-- ЕДИНИЦЫ ПРОДАЖИ SELECTBOX -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Продажи, единицы:</span>
                        
                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="">

                            <option value="">Тонны</option>
                            <option value="">Мешки</option>

                        </select>

                    </div>  

                </div>

                <!-- ТИП БОНУСА SELECTBOX -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Тип бонуса:</span>
                        
                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="" onchange="CheckSelectBox()" id="selectbox">

                            <option value="">Бонус за мешок</option>
                            <option value="">Фиксированный бонус</option>

                        </select>

                    </div>  

                </div>

                <!-- ВЫБОР БОНУСА С ЕДИНИЦЫ ВЕСА SELECTBOX -->

                <div class="flex-center mb-10 animate-height-no" id="div_selectbox">

                    <div class="flex-center animate-opacity-no" id="div_opacity_selectbox">

                        <div class="label-box">

                            <span class="label">Фиксированный бонус с:</span>
                            
                        </div>

                        <div class="select-container">

                            <select disabled class="selectbox" name="" id="input_selectbox_disabled">

                                <option value="">Паллеты</option>
                                <option value="">Мешка</option>
                                <option value="">Тонны</option>

                            </select>

                        </div>  

                    </div>

                </div>

                <!-- КОЛИЧЕСТВО ПРОДУКТА INPUT NUMBER -->

                <div class="flex-center mb-10 animate-height-no" id="div_input">

                    <div class="flex-center animate-opacity-no" id="div_opacity_number">

                        <div class="label-box">

                            <span class="label">Количество:</span>
                            
                        </div>

                        <div class="select-container">

                            <input disabled class="inputnumber" type="number" min="1" placeholder="Введите значение" id="input_number_disabled">

                        </div>  

                    </div>

                </div>

                <!-- КРАТНОСТЬ АКЦИИ ЧЕКБОКС CHECKBOX -->

                <div class="flex-center mb-10 animate-height-no" id="div_checkbox">

                    <div class="flex-center animate-opacity-no" id="div_opacity_checkbox">

                        <div class="label-box"></div>

                        <div class="select-container">

                            <span class="label">Акция кратная</span>

                            <input disabled type="checkbox" id="input_checkbox_disabled">

                        </div>  

                    </div>

                </div>

                <!-- РАЗМЕР БОНУСА INPUT NUMBER -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Размер бонуса:</span>
                        
                    </div>

                    <div class="select-container">

                        <input class="inputnumber" type="number" min="1" placeholder="Введите значение">

                    </div>  

                </div>

                <!-- ДИСТРИБЬЮТОР INPUT TEXT-->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Дистрибьютор:</span>
                        
                    </div>

                    <div class="select-container">

                        <input class="inputnumber" type="text" placeholder="Поиск дистрибьютора..." id="text_input">

                        <ul class="search-machine" id="ul"></ul>

                    </div>  
    
                </div>

                <!-- СПОСОБ КОМПЕНСАЦИИ SELECTBOX-->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Способ компенсации:</span>

                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="">

                            <option value="">Кабинет 007</option>
                            <option value="">Карты</option>

                        </select>

                    </div>

                </div>

                <!-- КОНЕЦ -->

            </div>

        </form>

    </div>

    <div class="flex-center-column">

        <button class="button" type="submit" form="file-form">Отправить</button>

    </div>

    <script src="static/custom-file-input.js"></script>

    <script>

        const list = [
                    'Astana Construction Materials, ТОО, Астана', 
                    'СКС Строительный Торговый Дом ООО, Санкт-Петербург', 
                    'Петрович Строительный Торговый Дом ООО, Санкт-Петербург', 
                    'BUILD-SERVISE TOO, РК, Павлодар', 
                    'GAUF GROUP ТОО', 
                    'АБСК-Изоляционные системы ООО, Екатеринбург', 
                    'АКВАДЕКОР ООО Барнаул', 
                    'АЛЬФАКОМПАНИ ООО Н Новгород', 
                    'АльфаСтрой ООО,Самара (контрагент)', 
                    'Альянс ООО, Иркутск', 
                    'АЛЬЯНС-СТРОЙ ООО (07.2017 Мурманск)'
                    ];
        const text_input = document.getElementById('text_input');
        const ul = document.getElementById('ul');

        text_input.oninput = function () {

            let value = text_input.value;
            
            if(value != ''){
                ul.innerHTML = list.filter((x)=> 
                x.includes(value)).slice(0, 3).map((x)=> 
                `<li onclick="SetValue(this)" data-value='${x}'">${x}</li>`).join('');
            } else {
                ul.innerHTML = '';
            }
        };

        function SetValue(object){
            text_input.value = object.dataset.value;
            ul.innerHTML = '';
        }
    
        function CheckSelectBox(){

            // selectbox - для получения значения выбранного пункта option

            let selectbox = document.getElementById('selectbox');

            // Элементы для управления высотой 

            let div_selectbox = document.getElementById('div_selectbox');
            let div_input = document.getElementById('div_input');
            let div_checkbox = document.getElementById('div_checkbox');

            // Элементы для управления прозрачностью

            let div_opacity_checkbox = document.getElementById('div_opacity_checkbox');
            let div_opacity_number = document.getElementById('div_opacity_number');
            let div_opacity_selectbox = document.getElementById('div_opacity_selectbox');

            // Элементы для блокирования доступа в скрытом состоянии

            let input_checkbox_disabled = document.getElementById('input_checkbox_disabled');
            let input_number_disabled = document.getElementById('input_number_disabled');
            let input_selectbox_disabled = document.getElementById('input_selectbox_disabled')

            if (selectbox.options.selectedIndex == 1){

                div_opacity_checkbox.classList.add('animate-opacity');
                div_opacity_number.classList.add('animate-opacity');
                div_opacity_selectbox.classList.add('animate-opacity');

                div_selectbox.classList.add('animate-height');
                div_input.classList.add('animate-height');
                div_checkbox.classList.add('animate-height');

                input_checkbox_disabled.removeAttribute('disabled');
                input_number_disabled.removeAttribute('disabled');
                input_selectbox_disabled.removeAttribute('disabled');

            } else {

                div_opacity_checkbox.classList.remove('animate-opacity');
                div_opacity_number.classList.remove('animate-opacity');
                div_opacity_selectbox.classList.remove('animate-opacity');

                div_selectbox.classList.remove('animate-height');
                div_input.classList.remove('animate-height');
                div_checkbox.classList.remove('animate-height');

                input_checkbox_disabled.setAttribute("disabled", "true");
                input_number_disabled.setAttribute("disabled", "true");
                input_selectbox_disabled.setAttribute("disabled", "true");

            }

        }
    
    </script>

</body>
</html>