<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система автоматизации</title>
    {% load static %}
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fe4522470.js" crossorigin="anonymous"></script>
</head>
<body  style="background-image: url({% static 'autoxl/grid.png' %});">

    <!-- EASTER EGG BLOCK -->

    <div class="unicorns-party" id="unicorns_party" onclick="RunMyLittleUnicorne()"><i class="far fa-grin-stars"></i>В единороголендию!</div>

    <img class="unicorn-Aristarh" src="{% static 'autoxl/unicorn.png' %}" alt="Aristarh" id="Aristarh">

    <img class="unicorn-Lavrentiy" src="{% static 'autoxl/unicorn.png' %}" alt="Lavrentiy" id="Lavrentiy">

    <img class="unicorn-Magomed" src="{% static 'autoxl/unicorn.png' %}" alt="Magomed" id="Magomed">

    <!--  -->

    <div class="wrap flex-center-column">

        <img src="/static/logo.png" width="230" onclick="StartToUnicornParty()">

        <span class="text">автоматизация отчетности</span>

        <form action="/go/" method="post" id="file-form" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="container flex-center-column">

                <!-- ФОРМАТ ОТЧЕТА SELECTBOX -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Формат отчета:</span>

                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="">

                            <option value="">Отчет кабинета 007</option>
                            <option value="">Отчет с менеджерами</option>
                            <option value="">Отчет без менеджеров</option>

                        </select>

                    </div>

                </div>

                <!-- ЕДИНИЦЫ ПРОДАЖИ SELECTBOX -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Продажи, единицы:</span>
                        
                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="">

                            <option value="">Тонны</option>
                            <option value="">Мешки</option>

                        </select>

                    </div>  

                </div>

                <!-- ТИП БОНУСА SELECTBOX -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Тип бонуса:</span>
                        
                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="" onchange="CheckSelectBox()" id="selectbox">

                            <option value="">Бонус за мешок</option>
                            <option value="">Фиксированный бонус</option>

                        </select>

                    </div>  

                </div>

                <!-- ВЫБОР БОНУСА С ЕДИНИЦЫ ВЕСА SELECTBOX (СКРЫВАЕТСЯ) -->

                <div class="flex-center mb-10 animate-height-no" id="div_selectbox">

                    <div class="flex-center animate-opacity-no" id="div_opacity_selectbox">

                        <div class="label-box">

                            <span class="label">Фиксированный бонус с:</span>
                            
                        </div>

                        <div class="select-container">

                            <select disabled class="selectbox" name="" id="input_selectbox_disabled">

                                <option value="">Паллеты</option>
                                <option value="">Мешка</option>
                                <option value="">Тонны</option>

                            </select>

                        </div>  

                    </div>

                </div>

                <!-- КОЛИЧЕСТВО ПРОДУКТА INPUT NUMBER (СКРЫВАЕТСЯ) -->

                <div class="flex-center mb-10 animate-height-no" id="div_input">

                    <div class="flex-center animate-opacity-no" id="div_opacity_number">

                        <div class="label-box">

                            <span class="label">Количество:</span>
                            
                        </div>

                        <div class="select-container">

                            <input disabled class="inputnumber" type="number" min="1" placeholder="Введите значение" id="input_number_disabled">

                        </div>  

                    </div>

                </div>

                <!-- КРАТНОСТЬ АКЦИИ ЧЕКБОКС CHECKBOX (СКРЫВАЕТСЯ) -->

                <div class="flex-center mb-10 animate-height-no" id="div_checkbox">

                    <div class="flex-center animate-opacity-no" id="div_opacity_checkbox">

                        <div class="label-box"></div>

                        <div class="select-container checkbox-container">

                            <span class="label">Акция кратная</span>

                            <input class="checkbox" disabled type="checkbox" id="input_checkbox_disabled">

                        </div>  

                    </div>

                </div>

                <!-- РАЗМЕР БОНУСА INPUT NUMBER -->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Размер бонуса:</span>
                        
                    </div>

                    <div class="select-container">

                        <input class="inputnumber" type="number" min="1" placeholder="Введите значение" autocomplete="off">

                    </div>  

                </div>

                <!-- СПОСОБ КОМПЕНСАЦИИ SELECTBOX-->

                <div class="flex-center mb-10">

                    <div class="label-box">

                        <span class="label">Способ компенсации:</span>

                    </div>

                    <div class="select-container">

                        <select class="selectbox" name="" onchange="CheckSelectBoxCompensation()" id="selectbox_compensation">

                            <option value="">Кабинет 007</option>
                            <option value="">Карты</option>

                        </select>

                    </div>

                </div>

                <!-- НАЗВАНИЕ АКЦИИ INPUT TEXT (СКРЫВАЕТСЯ) -->

                <div class="flex-center mb-10 animate-height-no" id="card_div_text">

                    <div class="flex-center animate-opacity-no" id="card_opacity_text">

                        <div class="label-box">

                            <span class="label">Название акции:</span>
                            
                        </div>

                        <div class="select-container">

                            <input disabled class="inputnumber" type="text" placeholder="Введите название" id="card_text" autocomplete="off">

                        </div>  

                    </div>
    
                </div>

                <!-- НОМЕР МАРКЕТИНГОВОЙ АКТИВНОСТИ INPUT NUMBER (СКРЫВАЕТСЯ) -->

                <div class="flex-center mb-10 animate-height-no" id="card_div_number">

                    <div class="flex-center animate-opacity-no" id="card_opacity_number">

                        <div class="label-box">

                            <span class="label">Номер маркетинговой активности:</span>
                            
                        </div>

                        <div class="select-container">

                            <input disabled class="inputnumber" type="number" min="1" placeholder="Введите значение" id="card_number" autocomplete="off">

                        </div>  

                    </div>

                </div>

                <!-- СТАТЬЯ ЗАТРАТ SELECTBOX (СКРЫВАЕТСЯ) -->

                <div class="flex-center mb-10 animate-height-no" id="card_div_selectbox">

                    <div class="flex-center animate-opacity-no" id="card_opacity_selectbox">

                        <div class="label-box">

                            <span class="label">Статья затрат:</span>

                        </div>

                        <div class="select-container">

                            <select disabled class="selectbox" name="" id="card_selectbox">

                                <option value="">МБ</option>
                                <option value="">ЛИ</option>
                                <option value="">DIY</option>
                                <option value="">ФИ</option>

                            </select>

                        </div>

                    </div>

                </div>

                <!-- ВЫБОР ФИРМЫ ОТПРАВКИ КАРТ CHECKBOX (СКРЫВАЕТСЯ) -->

                <div class="flex-center mb-10 animate-height-no" id="card_div_checkbox">

                    <div class="flex-center animate-opacity-no" id="card_opacity_checkbox">

                        <div class="label-box"></div>

                        <div class="select-container checkbox-container">

                            <span class="label">На сотрудника</span>

                            <input class="checkbox" disabled type="checkbox" id="card_checkbox">

                        </div>  

                    </div>

                </div>

                <!-- ДИСТРИБЬЮТОР INPUT TEXT-->

                <div class="flex-center mb-10 ml-87">

                    <div class="label-box">

                        <span class="label">Дистрибьютор:</span>
                        
                    </div>

                    <div class="select-container-search">

                        <input class="inputnumber" type="text" placeholder="Поиск дистрибьютора" id="text_input" autocomplete="off">

                        <a class="link-add-distributor" href="/distributor/" title="Добавить дистрибьютора"><i class="fas fa-user-plus link-add-distributor-icon"></i></a>

                        <a class="link-list-distributor" href="/distributors/" title="Список дистрибьюторов"><i class="fas fa-list-ul link-add-distributor-icon"></i></a>

                        <ul class="search-machine" id="ul"></ul>

                    </div>  
    
                </div>

                <!-- КОНЕЦ -->

            </div>

            <div class="flex-center mt-20">

                <input type="file" name="file" id="file-4" class="inputfile inputfile-3" required>

                <label for="file-4"><span>Загрузить файл&hellip;</span></label>

            </div>

        </form>

    </div>

    <div class="flex-center-column">

        <button class="button" type="submit" form="file-form">Отправить</button>

        <a class="instruction-link" href="/instruction/">инструкция</a>

    </div>

    <script src="static/custom-file-input.js"></script>

    {{ distributors_names|json_script:"hello-data" }}
 
    <script>

        const list = JSON.parse(document.getElementById('hello-data').textContent);
        const text_input = document.getElementById('text_input');
        const ul = document.getElementById('ul');

        text_input.oninput = function () {

            let value = text_input.value;
            
            if(value != ''){
                ul.innerHTML = list.filter((x)=> 
                x.toLowerCase().includes(value.toLowerCase())).slice(0, 3).map((x)=> 
                `<li onclick="SetValue(this)" data-value='${x}'">${x}</li>`).join('');
            } else {
                ul.innerHTML = '';
            }
        };

        function SetValue(object){
            text_input.value = object.dataset.value;
            ul.innerHTML = '';
        }

        function CheckSelectBoxCompensation(){

            // selectbox - для получения значения выбранного пункта option

           let selectbox_compensation = document.getElementById('selectbox_compensation');

            // Элементы для управления высотой 

            let card_div_text = document.getElementById('card_div_text');
            let card_div_number = document.getElementById('card_div_number');
            let card_div_selectbox = document.getElementById('card_div_selectbox');
            let card_div_checkbox = document.getElementById('card_div_checkbox');

            // Элементы для управления прозрачностью

            let card_opacity_text = document.getElementById('card_opacity_text');
            let card_opacity_number = document.getElementById('card_opacity_number');
            let card_opacity_selectbox = document.getElementById('card_opacity_selectbox');
            let card_opacity_checkbox = document.getElementById('card_opacity_checkbox');

            // Элементы для блокирования доступа в скрытом состоянии

            let card_text = document.getElementById('card_text');
            let card_number = document.getElementById('card_number');
            let card_selectbox = document.getElementById('card_selectbox');
            let card_checkbox = document.getElementById('card_checkbox');

            if (selectbox_compensation.options.selectedIndex == 1){

                card_div_text.classList.add('animate-height');
                card_div_number.classList.add('animate-height');
                card_div_selectbox.classList.add('animate-height');
                card_div_checkbox.classList.add('animate-height');

                card_opacity_text.classList.add('animate-opacity');
                card_opacity_number.classList.add('animate-opacity');
                card_opacity_selectbox.classList.add('animate-opacity');
                card_opacity_checkbox.classList.add('animate-opacity');

                card_text.removeAttribute('disabled');
                card_number.removeAttribute('disabled');
                card_selectbox.removeAttribute('disabled');
                card_checkbox.removeAttribute('disabled');

            } else {

                card_div_text.classList.remove('animate-height');
                card_div_number.classList.remove('animate-height');
                card_div_selectbox.classList.remove('animate-height');
                card_div_checkbox.classList.remove('animate-height');

                card_opacity_text.classList.remove('animate-opacity');
                card_opacity_number.classList.remove('animate-opacity');
                card_opacity_selectbox.classList.remove('animate-opacity');
                card_opacity_checkbox.classList.remove('animate-opacity');

                card_text.setAttribute("disabled", "true");
                card_number.setAttribute("disabled", "true");
                card_selectbox.setAttribute("disabled", "true");
                card_checkbox.setAttribute("disabled", "true");

            }

        }
    
        function CheckSelectBox(){

            // selectbox - для получения значения выбранного пункта option

            let selectbox = document.getElementById('selectbox');

            // Элементы для управления высотой 

            let div_selectbox = document.getElementById('div_selectbox');
            let div_input = document.getElementById('div_input');
            let div_checkbox = document.getElementById('div_checkbox');

            // Элементы для управления прозрачностью

            let div_opacity_checkbox = document.getElementById('div_opacity_checkbox');
            let div_opacity_number = document.getElementById('div_opacity_number');
            let div_opacity_selectbox = document.getElementById('div_opacity_selectbox');

            // Элементы для блокирования доступа в скрытом состоянии

            let input_checkbox_disabled = document.getElementById('input_checkbox_disabled');
            let input_number_disabled = document.getElementById('input_number_disabled');
            let input_selectbox_disabled = document.getElementById('input_selectbox_disabled')

            if (selectbox.options.selectedIndex == 1){

                div_opacity_checkbox.classList.add('animate-opacity');
                div_opacity_number.classList.add('animate-opacity');
                div_opacity_selectbox.classList.add('animate-opacity');

                div_selectbox.classList.add('animate-height');
                div_input.classList.add('animate-height');
                div_checkbox.classList.add('animate-height');

                input_checkbox_disabled.removeAttribute('disabled');
                input_number_disabled.removeAttribute('disabled');
                input_selectbox_disabled.removeAttribute('disabled');

            } else {

                div_opacity_checkbox.classList.remove('animate-opacity');
                div_opacity_number.classList.remove('animate-opacity');
                div_opacity_selectbox.classList.remove('animate-opacity');

                div_selectbox.classList.remove('animate-height');
                div_input.classList.remove('animate-height');
                div_checkbox.classList.remove('animate-height');

                input_checkbox_disabled.setAttribute("disabled", "true");
                input_number_disabled.setAttribute("disabled", "true");
                input_selectbox_disabled.setAttribute("disabled", "true");

            }

        }

        // EASTER EGG BLOCK JS

        var click_count = 0;
        let unicorns_party = document.getElementById('unicorns_party');
        let Aristarh = document.getElementById('Aristarh');
        let Lavrentiy = document.getElementById('Lavrentiy');
        let Magomed = document.getElementById('Magomed');

        function StartToUnicornParty(){

            ++click_count ;

            if(click_count > 10){

                unicorns_party.classList.add('no-hidden');

            }

        }

        function RunMyLittleUnicorne(){

            Aristarh.classList.add("run");
            Lavrentiy.classList.add("run");
            Magomed.classList.add("run");

        }
    
    </script>

</body>
</html>