<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система автоматизации</title>
    {% load static %}
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap" rel="stylesheet">
</head>
<body style="background-image: url({% static 'autoxl/grid.png' %});">

    <div class="wrap flex-center-column">

        <h1>{{ context }}</h1>

        {% if errors %}

            <table>

                <thead>

                    <tr>

                        <td>№ строки</td>
                        <td>Содержание ячейки</td>
                        <td>Координата ячейки</td>
                        <td>Пояснение ошибки</td>

                    </tr>

                </thead>

                <tbody>

                    {% for error in errors %}

                        <tr>

                            <td>{{error.0}}</td>
                            <td>
                                {% if error.1 is None %}
                                    пустая ячейка
                                {% else %}
                                    {{error.1}}
                                {% endif %}
                            </td>
                            <td>{{error.2}}</td>
                            <td>{{error.3}}</td>

                        </tr>

                    {% endfor %}
        
                </tbody>

            </table>

        {% endif %}

    </div>

</body>
</html>